/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  text-decoration: none; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #04A4CC; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

::-moz-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::-webkit-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

::-moz-selection {
  background: yellow;
  color: #000;
  text-shadow: none; }

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

html, body {
  width: 100%;
  min-height: 100%; }

body {
  font: 100 16px/1.5 'Montserrat', sans-serif;
  color: #36442F;
  position: relative;
  background: #fffbf0; }

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden; }

main {
  position: relative;
  min-height: 100%;
  width: 100%; }

section {
  position: relative;
  width: 100%;
  height: auto; }

.content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 1150px;
  margin: 0px auto;
  padding: 60px 50px; }

.filter-svg {
  height: 0; }

a {
  position: relative;
  color: #C62B2A;
  border-bottom: 1px dotted #C62B2A;
  letter-spacing: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    border-top: 1px dotted #C62B2A;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  a:after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    width: 100%;
    height: 0px;
    border-top: 1px dotted #C62B2A;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }
  a:hover {
    border-bottom: 3px dotted #C62B2A; }
    a:hover:before {
      height: 1px; }
    a:hover:after {
      bottom: -3px; }

.headline-block {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

h1, h2, h3, h4, h5 {
  font: 100 72px/1 'Clarendon', serif;
  text-align: center;
  letter-spacing: 1px;
  color: #36442F;
  margin: 0;
  width: auto;
  opacity: 0.85; }

h1 {
  text-align: center;
  font-size: 90px;
  line-height: .9; }

h2 {
  font-size: 70px;
  font-weight: 400;
  color: #C62B2A; }

h3 {
  font-size: 50px;
  letter-spacing: 1px; }

h4 {
  font-size: 45px; }

h5 {
  font-size: 28px; }

p {
  width: 100%; }

ul li {
  position: relative; }

hr {
  background: none;
  margin: 0;
  text-align: left;
  border: 0;
  width: 60px;
  height: 1px; }

.button {
  position: relative;
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 10px 35px; }
  .button a {
    color: red; }

.background-image-section {
  background: no-repeat center center;
  background-size: cover; }

.image-half {
  position: relative; }
  .image-half img {
    width: 100%;
    height: auto; }

.text-half {
  position: relative; }

.four-oh-four-page .content {
  padding: 45px 25px 85px 25px; }

.four-oh-four-page h1, .four-oh-four-page h3 {
  margin: 0.2em 0em; }

.four-oh-four-page .button {
  margin-top: 40px; }

.area-stitch-border {
  opacity: 1;
  position: absolute;
  border: 1px dotted #C62B2A;
  top: 22px;
  left: 22px;
  width: calc(100% - 44px);
  height: calc(100% - 44px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.area-stitch-border-1 {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }

.area-stitch-border-flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.25; }

.area-stitch-border-2 {
  top: 23px;
  left: 23px;
  width: calc(100% - 46px);
  height: calc(100% - 46px); }

.area-stitch-border-3 {
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px); }

.area-stitch-border-4 {
  top: 23px;
  left: 23px;
  width: calc(100% - 46px);
  height: calc(100% - 46px); }

.area-stitch-border-5 {
  top: 22px;
  left: 22px;
  width: calc(100% - 44px);
  height: calc(100% - 44px); }

.area-stitch-border-full {
  opacity: 1;
  position: absolute;
  border: 1px dotted #C62B2A;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.area-stitch-border-full-1 {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5); }

.area-stitch-border-full-flip {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0.25; }

.area-stitch-border-full-2 {
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px); }

.area-stitch-border-full-3 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.area-stitch-border-full-4 {
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px); }

.area-stitch-border-full-5 {
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px); }

.color-background {
  opacity: .25;
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  background: #4A6235;
  -webkit-box-shadow: inset 0px 0px 2px 0px black;
          box-shadow: inset 0px 0px 2px 0px black; }

.yellow-color-background {
  background: #E9D391; }

.tan-color-background {
  background: #DCC4A8; }

.white-color-background {
  background: white; }

.border-yellow .area-stitch-border-full, .border-yellow .area-stitch-border {
  border-color: #CE9A51; }

.border-tan .area-stitch-border-full, .border-tan .area-stitch-border {
  border-color: #E9D391; }

.border-green .area-stitch-border-full, .border-green .area-stitch-border {
  border-color: #4A6235; }

.border-red .area-stitch-border-full, .border-red .area-stitch-border {
  border-color: #C62B2A; }


.c-block-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.c-flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-flex-center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-flex-left-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.c-flex-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.c-flex-right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-flex-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.c-width-0 {
  width: 0%; }

.c-width-1 {
  width: 1%; }

.c-width-2 {
  width: 2%; }

.c-width-3 {
  width: 3%; }

.c-width-3-3 {
  width: 3.333333%; }

.c-width-4 {
  width: 4%; }

.c-width-5 {
  width: 5%; }

.c-width-6 {
  width: 6%; }

.c-width-6-6 {
  width: 6.666666%; }

.c-width-7 {
  width: 7%; }

.c-width-8 {
  width: 8%; }

.c-width-9 {
  width: 9%; }

.c-width-10 {
  width: 10%; }

.c-width-11 {
  width: 11%; }

.c-width-12 {
  width: 12%; }

.c-width-13 {
  width: 13%; }

.c-width-14 {
  width: 14%; }

.c-width-15 {
  width: 15%; }

.c-width-16 {
  width: 16%; }

.c-width-17 {
  width: 17%; }

.c-width-18 {
  width: 18%; }

.c-width-19 {
  width: 19%; }

.c-width-20 {
  width: 20%; }

.c-width-21 {
  width: 21%; }

.c-width-22 {
  width: 22%; }

.c-width-23 {
  width: 23%; }

.c-width-24 {
  width: 24%; }

.c-width-25 {
  width: 25%; }

.c-width-26 {
  width: 26%; }

.c-width-27 {
  width: 27%; }

.c-width-28 {
  width: 28%; }

.c-width-29 {
  width: 29%; }

.c-width-30 {
  width: 30%; }

.c-width-31 {
  width: 31%; }

.c-width-32 {
  width: 32%; }

.c-width-33 {
  width: 33%; }

.c-width-33-3 {
  width: 33.3333333%; }

.c-width-34 {
  width: 34%; }

.c-width-35 {
  width: 35%; }

.c-width-36 {
  width: 36%; }

.c-width-37 {
  width: 37%; }

.c-width-38 {
  width: 38%; }

.c-width-39 {
  width: 39%; }

.c-width-40 {
  width: 40%; }

.c-width-41 {
  width: 41%; }

.c-width-42 {
  width: 42%; }

.c-width-43 {
  width: 43%; }

.c-width-44 {
  width: 44%; }

.c-width-45 {
  width: 45%; }

.c-width-46 {
  width: 46%; }

.c-width-47 {
  width: 47%; }

.c-width-48 {
  width: 48%; }

.c-width-49 {
  width: 49%; }

.c-width-50 {
  width: 50%; }

.c-width-51 {
  width: 51%; }

.c-width-52 {
  width: 52%; }

.c-width-53 {
  width: 53%; }

.c-width-54 {
  width: 54%; }

.c-width-55 {
  width: 55%; }

.c-width-56 {
  width: 56%; }

.c-width-57 {
  width: 57%; }

.c-width-58 {
  width: 58%; }

.c-width-59 {
  width: 59%; }

.c-width-60 {
  width: 60%; }

.c-width-61 {
  width: 61%; }

.c-width-62 {
  width: 62%; }

.c-width-63 {
  width: 63%; }

.c-width-64 {
  width: 64%; }

.c-width-65 {
  width: 65%; }

.c-width-66 {
  width: 66%; }

.c-width-66-6 {
  width: 66.666666%; }

.c-width-67 {
  width: 67%; }

.c-width-68 {
  width: 68%; }

.c-width-69 {
  width: 69%; }

.c-width-70 {
  width: 70%; }

.c-width-71 {
  width: 71%; }

.c-width-72 {
  width: 72%; }

.c-width-73 {
  width: 73%; }

.c-width-74 {
  width: 74%; }

.c-width-75 {
  width: 75%; }

.c-width-76 {
  width: 76%; }

.c-width-77 {
  width: 77%; }

.c-width-78 {
  width: 78%; }

.c-width-79 {
  width: 79%; }

.c-width-80 {
  width: 80%; }

.c-width-81 {
  width: 81%; }

.c-width-82 {
  width: 82%; }

.c-width-83 {
  width: 83%; }

.c-width-84 {
  width: 84%; }

.c-width-85 {
  width: 85%; }

.c-width-86 {
  width: 86%; }

.c-width-87 {
  width: 87%; }

.c-width-88 {
  width: 88%; }

.c-width-89 {
  width: 89%; }

.c-width-90 {
  width: 90%; }

.c-width-91 {
  width: 91%; }

.c-width-92 {
  width: 92%; }

.c-width-93 {
  width: 93%; }

.c-width-94 {
  width: 94%; }

.c-width-95 {
  width: 95%; }

.c-width-96 {
  width: 96%; }

.c-width-97 {
  width: 97%; }

.c-width-98 {
  width: 98%; }

.c-width-99 {
  width: 99%; }

.c-width-100 {
  width: 100%; }

@media screen and (max-width: 767px) {
  .c-width-0,
  .c-width-1,
  .c-width-2,
  .c-width-3,
  .c-width-3-3,
  .c-width-4,
  .c-width-5,
  .c-width-6,
  .c-width-6-6,
  .c-width-7,
  .c-width-8,
  .c-width-9,
  .c-width-10,
  .c-width-11,
  .c-width-12,
  .c-width-13,
  .c-width-14,
  .c-width-15,
  .c-width-16,
  .c-width-17,
  .c-width-18,
  .c-width-19,
  .c-width-20,
  .c-width-21,
  .c-width-22,
  .c-width-23,
  .c-width-24,
  .c-width-25,
  .c-width-26,
  .c-width-27,
  .c-width-28,
  .c-width-29,
  .c-width-30,
  .c-width-31,
  .c-width-32,
  .c-width-33,
  .c-width-33-3,
  .c-width-34,
  .c-width-35,
  .c-width-36,
  .c-width-37,
  .c-width-38,
  .c-width-39,
  .c-width-40,
  .c-width-41,
  .c-width-42,
  .c-width-43,
  .c-width-44,
  .c-width-45,
  .c-width-46,
  .c-width-47,
  .c-width-48,
  .c-width-49,
  .c-width-50,
  .c-width-51,
  .c-width-52,
  .c-width-53,
  .c-width-54,
  .c-width-55,
  .c-width-56,
  .c-width-57,
  .c-width-58,
  .c-width-59,
  .c-width-60,
  .c-width-61,
  .c-width-62,
  .c-width-63,
  .c-width-64,
  .c-width-65,
  .c-width-66,
  .c-width-66-6,
  .c-width-67,
  .c-width-68,
  .c-width-69,
  .c-width-70,
  .c-width-71,
  .c-width-72,
  .c-width-73,
  .c-width-74,
  .c-width-75,
  .c-width-76,
  .c-width-77,
  .c-width-78,
  .c-width-79,
  .c-width-80,
  .c-width-81,
  .c-width-82,
  .c-width-83,
  .c-width-84,
  .c-width-85,
  .c-width-86,
  .c-width-87,
  .c-width-88,
  .c-width-89,
  .c-width-90,
  .c-width-91,
  .c-width-92,
  .c-width-93,
  .c-width-94,
  .c-width-95,
  .c-width-96,
  .c-width-97,
  .c-width-98,
  .c-width-99,
  .c-width-100 {
    width: 100%; } }

.m-visible {
  display: none; }

@media screen and (max-width: 1024px) {
  .m-visible {
    display: block; }
  .m-hidden {
    display: none; } }

@media screen and (max-width: 767px) {
  .m-visible {
    display: block; }
  .m-hidden {
    display: none; } }

.footer {
  background: black;
  color: white; }
  .footer .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px auto;
    padding: 60px 25px 30px 25px; }
  .footer a {
    color: white; }
  .footer li {
    margin-bottom: 16px; }
  .footer i {
    font-size: 2em;
    margin-right: 10px; }
  .footer .footer-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 40px 40px; }
    .footer .footer-tile:nth-of-type(2) {
      border-left: 1px solid white;
      border-right: 1px solid white; }
  .footer .footer-tile-header {
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 20px; }
  .footer .logo-tile img {
    width: 100%;
    height: auto;
    max-width: 200px; }
  .footer .social-tile li {
    display: inline-block; }
  .footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: white;
    opacity: 0.6; }

@media screen and (max-width: 767px) {
  .footer .content {
    padding: 0px 25px 26px 25px; }
  .footer .footer-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    padding: 40px 10px 40px 10px; }
    .footer .footer-tile:nth-of-type(2) {
      border-left: 0px solid white;
      border-right: 0px solid white;
      border-bottom: 1px solid white;
      border-top: 1px solid white; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: auto;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px auto 0px auto;
  z-index: 1001;
  background: #fffbf0; }
  .header .content {
    padding: 0;
    height: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .area-stitch-border-full {
    border-color: #E9D391;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .header a {
    color: black; }
  .header .main-nav {
    width: 100%;
    height: calc(100% - 10px);
    margin: 0 auto; }
  .header ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0 20px;
    width: 100%; }
  .header li {
    font: 100 15px/1 'Clarendon', serif;
    color: #4A6235;
    padding: 22px 20px 18px 20px;
    display: inline-block;
    -webkit-transition: all .3s linear;
    transition: all .3s linear; }
    .header li a {
      border-color: #E9D391; }
      .header li a:after, .header li a:before {
        border-color: #E9D391; }
    .header li:hover {
      color: #C62B2A; }
      .header li:hover a {
        border-color: #C62B2A; }
        .header li:hover a:after, .header li:hover a:before {
          border-color: #C62B2A; }
  .header .button {
    color: black; }
    .header .button a {
      color: black; }

.header-logo {
  z-index: 12;
  position: relative;
  height: 100%; }
  .header-logo img {
    height: 100%;
    width: auto; }

.current-menu-item {
  border-bottom: 2px solid blue; }
  .current-menu-item a {
    color: blue; }

.mobile-menu {
  display: none; }

@media screen and (max-width: 1024px) {
  .header .area-stitch-border-full {
    display: none; }
  .mobile-menu {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 26px;
    right: 12px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 34px;
    height: 34px;
    padding: 10px 8px;
    background: white;
    border: 1px dotted #4A6235;
    border-radius: 50%; }
    .mobile-menu:before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 1px dotted #4A6235;
      content: "";
      border-radius: 50%;
      border: 1px dotted #4A6235; }
    .mobile-menu span {
      display: block;
      height: 2px;
      border-top: 1px dotted #4A6235;
      border-bottom: 1px dotted #4A6235;
      width: 100%;
      background-color: #4A6235;
      background: none; }
  .main-nav {
    background: white;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 11;
    height: 100vh;
    width: 100%; }
    .main-nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100vh;
      width: 100%;
      padding-top: 0px; }
    .main-nav li {
      margin-left: 0px;
      width: auto;
      margin-top: 20px;
      -webkit-transition: none;
      transition: none; } }

.hotel-svg-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: auto;
  opacity: 1; }

.hotel-strokes {
  -webkit-filter: url(#hotel-stroke-filter);
          filter: url(#hotel-stroke-filter); }
  .hotel-strokes * {
    stroke-dasharray: 2 3;
    vector-effect: non-scaling-stroke;
    stroke: #CE9A51;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
    .hotel-strokes *:nth-of-type(even) {
      stroke-dasharray: 3 4; }

.coming-soon h1 {
  width: 100%; }

.home-page {
  padding-top: 81px; }
  .home-page svg {
    overflow: visible; }
  .home-page .headline-svg text {
    text-anchor: middle;
    font: 100 40px/1 'Clarendon', serif;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    fill: #36442F;
    margin: 0;
    width: 100%;
    opacity: 0.8; }
  .home-page h2 {
    font-weight: 100;
    margin-top: 20px;
    color: #36442F; }
  .home-page .headline-patch {
    text-align: center; }

.hr-area {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 16px 0 20px 0; }
  .hr-area hr {
    margin: 0 auto;
    width: 100%;
    max-width: 70px;
    border-top: 1px dotted #C62B2A;
    height: 0; }
    .hr-area hr:nth-of-type(even) {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }

.hr-yellow hr {
  border-color: #E9D391; }

.hr-green hr {
  border-color: #4A6235; }

.site-title {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 800px; }

.site-title-subtext {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  font-weight: 400;
  text-align: center;
  color: #4A6235; }

.hero-section .content {
  padding-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.hero-section h3 {
  width: 100%;
  text-align: center; }

.hero-section .hr-area {
  margin: 10px 0px 14px 0; }

.hero-section p {
  text-align: center;
  margin: 0 auto;
  max-width: 250px; }

.hero-section .text-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  margin-left: 1%; }
  .hero-section .text-half .color-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.hero-section .image-half {
  margin-right: 1%; }

.events-section .headline-patch {
  -webkit-transform: rotate(-10deg) translate(28px, -10px);
          transform: rotate(-10deg) translate(28px, -10px);
  -webkit-transform-origin: 50%, 50%;
          transform-origin: 50%, 50%; }

.events-section .headline-patch-2 {
  -webkit-transform: rotate(10deg) translate(-25px, -10px);
          transform: rotate(10deg) translate(-25px, -10px);
  -webkit-transform-origin: 50%, 50%;
          transform-origin: 50%, 50%; }

.events-section .events-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.events-section .single-event {
  text-align: center;
  position: relative;
  padding: 40px 30px;
  margin: 12px 1%; }
  .events-section .single-event .hr-area {
    margin: 16px 0 18px 0; }

.events-section h4 {
  width: 100%;
  margin-bottom: 6px; }

.events-section .event-description {
  width: 100%;
  max-width: 330px;
  margin: 20px auto 0px auto; }

.events-section .event-times, .events-section .event-location {
  width: 100%;
  font-size: 18px; }

.events-section .event-icon {
  margin: 0 auto 16px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px dotted #C62B2A; }
  .events-section .event-icon .event-icon-stitch {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px dotted #C62B2A; }
  .events-section .event-icon i {
    margin: 1px 0px 0 1px;
    font-size: 22px;
    color: #C62B2A; }

.events-section .event-times {
  margin-bottom: 4px; }

.events-section .event-notes {
  width: 100%;
  color: #758A41;
  font-size: 16px; }

.events-section i {
  display: inline-block;
  width: auto;
  margin-right: 10px; }

.getting-there-section .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px; }

.getting-there-section h2 {
  width: 100%;
  color: #758A41; }

.getting-there-section .headline-svg text {
  font-size: 26px; }

.getting-there-section .headline-block {
  text-align: center;
  position: relative;
  margin-bottom: 0px; }
  .getting-there-section .headline-block text {
    fill: #758A41; }
  .getting-there-section .headline-block .hr-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 14px;
    margin: 0 auto; }

.getting-there-section .ways-patch {
  position: relative;
  -webkit-transform: translateX(-2%);
          transform: translateX(-2%); }
  .getting-there-section .ways-patch svg {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    height: auto; }

.getting-there-section .ways-patch-2 {
  -webkit-transform: translateX(7%);
          transform: translateX(7%); }

.getting-there-section .ways-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.getting-there-section .single-way {
  text-align: center;
  padding: 0px 25px;
  margin: 40px 0; }

.getting-there-section .way-code {
  margin: 0 auto 14px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px dotted #4A6235;
  color: #4A6235;
  font-weight: 500;
  background: #fffbf0; }
  .getting-there-section .way-code .way-code-stitch {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    border: 1px dotted #4A6235; }
  .getting-there-section .way-code .way-code-stitch-2 {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 56px;
    width: 56px; }

.getting-there-section .hr-area {
  margin: 10px 0px; }

.getting-there-section .way-name {
  margin-bottom: 20px; }

.getting-there-section .way-link {
  margin-top: 14px; }

.where-section .content {
  padding-top: 0px; }

.where-section .headline-block {
  position: relative;
  margin: 0 auto; }
  .where-section .headline-block .headline-svg text {
    font-size: 18px; }
  .where-section .headline-block .hr-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
    margin: 0 auto; }

.where-section .intro-container {
  margin-bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.where-section .headline-patch {
  -webkit-transform: translate(-20px, -16px);
          transform: translate(-20px, -16px); }

.where-section .locations-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.where-section .single-location {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 1% 30px 1%;
  padding: 48px 40px 38px 40px; }
  .where-section .single-location .color-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.where-section .location-name {
  margin-bottom: 4px;
  width: 100%; }

.where-section .location-address {
  margin-bottom: 8px;
  width: 100%; }

.where-section .location-phone {
  margin-bottom: 5px;
  width: 100%; }

.where-section .location-website {
  width: 100%; }

.todo-section .headline-block {
  position: relative;
  margin: 0 auto; }
  .todo-section .headline-block .headline-svg text {
    font-size: 18px; }
  .todo-section .headline-block .hr-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
    margin: 0 auto; }

.todo-section .headline-patch {
  -webkit-transform: translate(-20px, -16px);
          transform: translate(-20px, -16px); }

.todo-section h4 {
  color: #758A41; }

.todo-section .todos-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.todo-section .todo-subsection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.todo-section .single-todo {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  padding: 30px 20px 20px 20px; }
  .todo-section .single-todo .way-code {
    margin: 0 auto 14px auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px dotted #4A6235;
    color: #4A6235;
    font-weight: 500;
    background: #fffbf0; }
    .todo-section .single-todo .way-code i {
      font-size: 28px;
      margin-top: 4px; }
    .todo-section .single-todo .way-code .way-code-stitch {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 58px;
      width: 58px;
      border-radius: 50%;
      border: 1px dotted #4A6235; }
    .todo-section .single-todo .way-code .way-code-stitch-2 {
      position: absolute;
      top: 1px;
      left: 1px;
      height: 56px;
      width: 56px; }
  .todo-section .single-todo .color-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.todo-section .todo-name {
  margin-bottom: 4px;
  width: 100%; }

.todo-section .todo-address {
  margin-bottom: 8px;
  width: 100%; }

.todo-section .todo-phone {
  margin-bottom: 5px;
  width: 100%; }

.todo-section .todo-website {
  width: 100%; }

.eating-section .content {
  padding-top: 0px; }

.eating-section .headline-block {
  position: relative;
  margin: 0 auto; }
  .eating-section .headline-block .headline-svg text {
    font-size: 18px; }
  .eating-section .headline-block .hr-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
    margin: 0 auto; }

.eating-section .intro-container {
  margin-bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.eating-section .headline-patch .cactus-flower {
  -webkit-transform: translate(-40px, -16px);
          transform: translate(-40px, -16px); }

.eating-section .headline-patch .cactus-flower-2 {
  -webkit-transform: translate(-10px, 0px);
          transform: translate(-10px, 0px); }

.eating-section .eating-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.eating-section .single-eating {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 1% 30px 1%;
  padding: 48px 40px 38px 40px; }
  .eating-section .single-eating .color-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .eating-section .single-eating .hr-area {
    margin: 12px 0; }

.eating-section .eating-name {
  margin-bottom: 4px;
  width: 100%; }

.eating-section .eating-address {
  margin-top: 4px;
  width: 100%; }

.eating-section .eating-phone {
  margin-bottom: 5px;
  width: 100%; }

.eating-section .eating-website {
  width: 100%; }

.registry-section {
  text-align: center;
  padding-bottom: 60px; }
  .registry-section .content {
    padding-top: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .registry-section p {
    margin-top: 0; }
  .registry-section .headline-block .hr-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: 0 auto; }
  .registry-section .headline-svg text {
    font-size: 20px; }
  .registry-section a {
    border-width: 0px; }
    .registry-section a:after {
      display: none; }
    .registry-section a:before {
      display: none; }
  .registry-section .button {
    color: #C62B2A;
    background: #fffbf0;
    position: relative;
    margin-top: 20px;
    padding: 25px 25px 23px 25px;
    font: 100 26px/1 'Clarendon', serif;
    -webkit-transition: background .3s linear;
    transition: background .3s linear; }
    .registry-section .button:hover {
      background: #E9D391; }

.rsvp-section .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.rsvp-section .headline-block .hr-area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: 0 auto; }

.rsvp-section .body-block {
  text-align: center; }

.rsvp-section .wpcf7 {
  position: relative;
  margin: 0 auto;
  width: auto; }

.rsvp-section .form-container {
  position: relative;
  padding: 50px;
  width: auto;
  padding-top: 40px; }

.rsvp-section .wpcf7-form label {
  width: 100%;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400; }

.rsvp-section .wpcf7-form p {
  margin-bottom: 2em; }

.rsvp-section span.wpcf7-list-item {
  margin: 8px 0 6px 0;
  display: block; }

.rsvp-section .wpcf7-list-item-label {
  padding-left: 4px;
  margin-bottom: 4px;
  font-weight: 100; }

.rsvp-section .headline-svg text {
  font-size: 20px; }

.rsvp-section input, .rsvp-section textarea {
  border-radius: 0;
  border: 1px dotted #4A6235; }

.rsvp-section input[type=submit] {
  position: relative;
  border: none;
  text-transform: uppercase;
  padding: 12px 24px 10px 24px;
  border: 1px dotted #4A6235;
  font: 100 16px/1 'Clarendon', serif;
  letter-spacing: 1px;
  color: #4A6235;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background: white; }
  .rsvp-section input[type=submit]:hover {
    border-color: #C62B2A; }

.tumbleweed-one {
  width: 80px;
  height: auto; }

.tumbleweed-one-shadow {
  width: 100px;
  height: auto;
  opacity: 0.2; }

.tumbleweed-path-one-svg, .tumbleweed-shadow-path-one-svg {
  position: absolute;
  bottom: 50px;
  left: -10%;
  width: 120%;
  height: auto;
  visibility: hidden; }

@media screen and (max-width: 1024px) {
  .home-page {
    padding-top: 41px; } }

@media screen and (max-width: 767px) {
  h2 {
    font-size: 62px;
    width: 100%; }
  h4 {
    font-size: 38px; }
  .content {
    padding-left: 20px;
    padding-right: 20px; }
  .site-title-subtext {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  .hero-section .content {
    padding: 30px; }
  .hero-section .text-half {
    margin-top: 26px;
    padding: 40px 16px; }
  .hero-section h3 {
    font-size: 46px; }
  .getting-there-section .ways-patch {
    position: relative;
    top: 0;
    left: -50%;
    height: 200px;
    text-align: center;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    margin: 0px 0 -30px 0; }
    .getting-there-section .ways-patch svg {
      position: relative;
      bottom: 0;
      height: 100%;
      margin: 0 auto; }
  .getting-there-section .ways-patch-2 {
    display: none; }
  .where-section {
    padding-top: 30px; }
    .where-section .intro-container {
      margin-bottom: 20px; }
    .where-section .headline-patch {
      margin-bottom: -70px; }
  .todo-section .content {
    padding-top: 0px; }
  .todo-section h4.todo-name {
    margin-top: 50px; }
  .todo-section .single-todo {
    margin-top: 0; }
  .eating-section .eating-container {
    margin-top: 30px; }
  .registry-section {
    padding: 60px 20px; }
    .registry-section .area-stitch-border, .registry-section .color-background {
      width: calc(100% - 20px);
      left: 10px; }
  .rsvp-section .form-container {
    width: 100%;
    padding: 30px 20px; }
  .rsvp-section input[type=text], .rsvp-section input[type=email], .rsvp-section textarea {
    width: 100%; }
  .rsvp-section .area-stitch-border {
    width: 100%;
    left: 0; } }

.patch-color-fills {
  -webkit-filter: url(#patch-fill-filter);
          filter: url(#patch-fill-filter); }
  .patch-color-fills * {
    fill: #000000; }
  .patch-color-fills .g1 {
    fill: #4A6235; }
  .patch-color-fills .g2 {
    fill: #758A41; }
  .patch-color-fills .r1 {
    fill: #C62B2A; }

.patch-color-strokes * {
  stroke-dasharray: 3 3;
  vector-effect: non-scaling-stroke;
  stroke: #000000;
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

.patch-color-strokes .g1 {
  stroke: #4A6235; }

.patch-color-strokes .g2 {
  stroke: #758A41; }

.patch-color-strokes .r1 {
  stroke: #C62B2A; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  font-size: 200px;
  z-index: 999999999999999999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: gray; }
  #preloader img {
    height: auto;
    width: 50vw;
    -webkit-animation: heart 1.2s infinite;
            animation: heart 1.2s infinite; }

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95); }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

.shirt-pattern-svg-container {
  position: absolute;
  top: 0px;
  left: 22px;
  width: calc(100% - 44px);
  height: auto; }

.shirt-pattern-fills {
  opacity: 0.05; }
  .shirt-pattern-fills * {
    fill: #CE9A51; }

.shirt-pattern-strokes {
  opacity: 0.15;
  -webkit-filter: url(#shirt-pattern-stroke-filter);
          filter: url(#shirt-pattern-stroke-filter); }
  .shirt-pattern-strokes * {
    stroke-dasharray: 4 2;
    vector-effect: non-scaling-stroke;
    stroke: #CE9A51;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }

.page-border {
  stroke: #c5302a;
  x: 15px;
  y: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  fill: none;
  stroke-width: 8px; }

#page-border {
  position: absolute;
  x: 0;
  y: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }


.tumbleweed-path-svg {
  position: absolute;
  bottom: 30px;
  left: -500px;
  width: calc(100% + 1000px);
  height: auto;
  visibility: hidden; }

.tumbleweed-svg-container {
  position: absolute;
  bottom: 0;
  left: 0px;
  margin: 0 auto;
  width: 100%;
  height: auto; }

.tumbleweed-svg {
  opacity: 0;
  width: 120px; }

.tumbleweed-strokes * {
  fill: #DCC4A8; }
