@import "colors";

html, body {
	width:100%;
	min-height: 100%;
}

body {
	font:400 15px/1.5 'Montserrat', sans-serif;
	color:black;
	position: relative;
}

.wrapper {
	width:100%;
	min-height: 100%;
	margin:0 auto;
	overflow: hidden;
}

main {
	position: relative;
	min-height: 100%;
	width:100%;
}

section {
	position: relative;
	width:100%;
	height:auto;
}

.content {
	position: relative;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:auto;
	max-width: 1150px;
	margin:0px auto;
	padding:100px 55px;
}

.filter-svg {
	height:0;
}

a {
	color:red;
	text-decoration:none;
	letter-spacing: 1;
}

.headline-block {
	position: relative;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h1, h2, h3, h4, h5 {
	font:100 72px/1 'Clarendon', serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color:$flowerDarkGreen;
	margin:0;
	width:auto;
}

h1 {
	// filter:url('#headline-stitch');
	text-align: center;
	font-size:90px;
	line-height: .9;
}

h2 {
	font-size:60px;
}

h3 {
	font-size:2.25em;
}

h4 {
	font-size:1.5em;
}

h5 {
	font-size:1em;
}

p {
	width:100%;
}

ul {

	li {
		position: relative;
	}
}

hr {
	background: black;
	margin:0;
	text-align: left;
	border:0;
	width:60px;
	height: 1px;
}

.button {
	position: relative;
	text-transform: uppercase;
	background:white;
	color:black;
	padding:10px 35px;

	a {
		color:red;
	}
}

.background-image-section {
	background: no-repeat center center;
  background-size: cover;
}

.image-half {
	position: relative;

	img {
		width:100%;
		height:auto;
	}

}

.text-half {
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
  padding-right:40px;
}

// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

}
