@import "colors";

html, body {
	width:100%;
	min-height: 100%;
}

body {
	font:100 16px/1.5 'Montserrat', sans-serif;
	color:$flowerDarkGreen;
	position: relative;
  background: $offTan;
}

.wrapper {
	width:100%;
	min-height: 100%;
	margin:0 auto;
	overflow: hidden;
}

main {
	position: relative;
	min-height: 100%;
	width:100%;
}

section {
	position: relative;
	width:100%;
	height:auto;
}

.content {
	position: relative;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:auto;
	max-width: 1150px;
	margin:0px auto;
	padding:60px 50px;
}

.filter-svg {
	height:0;
}

a {
	position: relative;
	color:$r1;
	border-bottom:1px dotted $r1;
	letter-spacing: 1;
	transition: all .3s ease;

	&:before {
		content:"";
		position: absolute;
		bottom: 0;
		left:0;
		width:100%;
		height:0px;
		border-top:1px dotted $r1;
		transition: all .3s ease;
	}

	&:after {
		content:"";
		position: absolute;
		bottom:1px;
		left:0;
		transform: rotate(180deg);
		width:100%;
		height:0px;
		border-top:1px dotted $r1;
		transition: all .3s ease;
	}

	&:hover {
		border-bottom:3px dotted $r1;

		&:before {
			height:1px;
		}

		&:after {
			bottom:-3px;
		}
	}
}

.headline-block {
	position: relative;
	width:100%;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

h1, h2, h3, h4, h5 {
	font:100 72px/1 'Clarendon', serif;
	text-align: center;
	letter-spacing: 1px;
	color:$flowerDarkGreen;
	margin:0;
	width:auto;
	opacity:0.85;
}

h1 {
	text-align: center;
	font-size:90px;
	line-height: .9;
}

h2 {
	font-size:70px;
	font-weight: 400;
	color:$r1;
}

h3 {
	font-size:50px;
	letter-spacing: 1px;
}

h4 {
	font-size:45px;
}

h5 {
	font-size:28px;
}


p {
	width:100%;
}

ul {

	li {
		position: relative;
	}
}

hr {
	background:none;
	margin:0;
	text-align: left;
	border:0;
	width:60px;
	height: 1px;
}

.button {
	position: relative;
	text-transform: uppercase;
	background:white;
	color:black;
	padding:10px 35px;

	a {
		color:red;
	}
}

.background-image-section {
	background: no-repeat center center;
  background-size: cover;
}

.image-half {
	position: relative;

	img {
		width:100%;
		height:auto;
	}

}

.text-half {
	position: relative;
	// display: flex;
	// align-items: center;
	// align-content: center;
	// flex-wrap: wrap;
  // padding-right:40px;
}

// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

}
