$gray:#4a5155;
$offWhite:#f2f3f4;
$offTan:#fffbf0;
$tan1:#e3e0d7;
$tan2:#ece3dc;
$tan3:#f0e9df;
$tan4:#ece0c8;
$tan5:#dad2bd;
$bluegray1:#d1c3a9;
$bluegray2:#b0a48f;
$red1:#c5302a;
$gold1:#826843;

$shirtYellow:#e5d57e;


$flowerYellow:#CE9A51;
$flowerRed:#C62B2A;
$flowerDarkGreen:#36442F;
$flowerLightGreen:#87916D;


$g1:#4A6235;
$g2:#758A41;
$r1:#C62B2A;

$backYellow:#E9D391;
$backTan:#DCC4A8;

$stitchRed:#ba2424;
$stitchYellow:#c18a48;
$stitchLightGreen:#727a59;
$stitchDarkGreen:#293523;
