@import "colors";

.hotel-svg-container {
  position:relative;
  bottom:0;
  left:0;
  right:0;
  margin:0 auto;
  width:70%;
  height:auto;
  opacity:1;
}

.hotel-svg {

}


.hotel-strokes {
  filter:url(#hotel-stroke-filter);

  * {
    stroke-dasharray:2 3;
    vector-effect:non-scaling-stroke;
    stroke:#CE9A51;
    // stroke:#4A6235;
    // stroke:#758A41;
    fill:none;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;

    &:nth-of-type(even) {
      stroke-dasharray:3 4;
    }
  }
}
