.patch-color-fills {
  filter:url(#patch-fill-filter);

  * {
    fill:#000000;
  }

  .g1{
    fill:#4A6235;
  }

  .g2 {
    fill:#758A41;
  }

  .r1{
    fill:#C62B2A;
  }
}


.patch-color-strokes {

  * {
    stroke-dasharray:3 3;
    vector-effect:non-scaling-stroke;
    stroke:#000000;
    fill:none;
    stroke-width:1.5;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }

  .g1{
    stroke:#4A6235;
  }

  .g2{
    stroke:#758A41;
  }

  .r1{
    stroke:#C62B2A;
  }
}
