.shirt-pattern-one, .shirt-pattern-two, .shirt-pattern-three {

}

.shirt-pattern-svg-container {
	position: absolute;
	top:0px;
  left:22px;
  width:calc(100% - 44px);
	height:auto;
}

.shirt-pattern-svg {

}

.shirt-pattern-fills {
  opacity:0.05;
  // filter:url(#shirt-pattern-fill-filter);

  * {
    fill:#CE9A51;
  }
}


.shirt-pattern-strokes {
  opacity:0.15;
  filter:url(#shirt-pattern-stroke-filter);

  * {
    stroke-dasharray:4 2;
    vector-effect:non-scaling-stroke;
    stroke:#CE9A51;
    fill:none;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }
}
