@import "colors";

.page-border {
  stroke:$red1;
  x:15px;
  y:15px;
  width:calc(100% - 30px);
  height:calc(100% - 30px);
  fill:none;
  stroke-width:8px;
}

#page-border {
  position: absolute;
  x:0;
  y:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

// 1024px And Below
@media screen and (max-width: 1024px){

}


// 767px And Below
@media screen and (max-width: 767px){

}
