@import "colors";

.page-border {
  stroke:$red1;
  x:15px;
  y:15px;
  width:calc(100% - 30px);
  height:calc(100% - 30px);
  filter:url('#page-border');
  fill:none;
  stroke-width:8px;
}

// 1024px And Below
@media screen and (max-width: 1024px){

}


// 767px And Below
@media screen and (max-width: 767px){

}
